body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f3f3;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  padding: 12px 25px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
h2 {
  font-size: 50px;
  margin: 20px 0;
}



#increase { background: #28a745; color: white; }
#decrease { background: #dc3545; color: white; }
#reset { background: #007bff; color: white;    }
